*.swp
*.swo

__pycache__

.ipynb_checkpoints

save_directories/
examples/
impl/
impl2/
impl3/

configs/
trained_models/

notebooks/
.Rproj.user


data/
examples/
notebooks/
out/
save_directories/
tmp/

dist/
scripts/

.vscode

secret_scripts/